body{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.header{
  height: 130px;
  width: 100%;
  background-color: #19306F;
  position: fixed;
  width: calc( 100% - 30px );
  padding: 0px 15px 0px 15px;
  z-index: 100;
}
.header-content{
  width: 100%;
  padding: 0px 15px 0px 15px;
}
.right-element{
  float: right;
}
.left-element{
  float: left;
}
.header-icon{
  height: 100%;
}
.header-icon img{
  background-color: gray;
  height: 100%;
}
.header-link{
  height: 100%;
}
.header-link a{
  margin-top: 10px;
  float: left;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  color: white;
  cursor: pointer;
  line-height: 110px;
  margin-right: 30px;
  font-size: 21px;
}
.header-link a.has-sub{
  background-image: url(../img/down-arrow-white.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center right;
  padding-right: 30px;
}
.header-link a:hover{
  border-bottom: 5px solid white;
}
.header-link a.has-sub.active{
  border-bottom: 5px solid white;
}
.intro-panel{
  background-color: rgba(255,255,255,0.8);
  background-image: url(../img/topbar.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: calc( 100% - 100px );
  padding: 100px 30px 0px 30px;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  text-align: center;
}
.intro-panel.right{
  float: right;
  margin-right: calc( -30% - 60px );
}
.intro-panel.left{
  float: left;
  margin-left: calc( -30% - 60px );
}
.intro-panel.active{
  margin-right: 0px;
  margin-left: 0px;
  opacity: 1;
}
.intro-panel h3{
  font-size: 75px;
  font-weight: 800;
  color: #19306F;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}
.intro-panel p{
  font-size: 20px;
  line-height: 40px;
  color: gray;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.8s;
  width: 300px;
  margin: auto;
  text-align: left;
}

.intro-panel-1{
  text-align: center;
  background-image: url(../img/security-system.svg);
  background-size: 90%;
  background-position-x: center;
  background-position-y: bottom;
}

.product-list-item{
  background-color: #19306F;
  width: calc( 100% - 40px );
  margin-left: -15px;
  position: absolute;
  margin-top: 130px;
  padding: 20px;
  display: none;
}

.product-list-item .content{
  display: inline-block;
  float: right;
}

.product-list-item a{
  margin-top: 10px;
  float: left;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  line-height: 18px;
  margin-right: 30px;
  font-size: 18px;
}

.product-list-item a:hover{
  color: rgba(255,255,255,1);
}

.intro-panel.active h3{
  opacity: 1;
}
.intro-panel.active p{
  opacity: 1;
}
.pp-tableCell{
  vertical-align: bottom!important;
}
#scroll-content{
  z-index: -1;
}
#scroll-content .section{
  background-size: cover;
  background-repeat: no-repeat;
}
#scroll-content .section-1{
  background-image: url(../img/home-1.jpg);
  background-size: cover;
}
#scroll-content .section-2{
  background-image: url(../img/home-2.jpg);
  background-size: cover;
}
#scroll-content .section-3{
  background-image: url(../img/home-3.jpg);
  background-size: cover;
}
#scroll-content .section-4{
  background-image: url(../img/home-4.jpg);
  background-size: cover;
}
#pp-nav span{
  border: none!important;
  background-color: rgba(255,255,255,0.3);
}
#pp-nav li .active span, .pp-slidesNav .active span{
  background: white!important;
}
.mobile-menu-content{
  margin-top: 100px;
  padding-bottom: 20px;
  display: none;
}
.header.active .mobile-menu-content{
  display: block;
}
.mobile-menu-content a{
  line-height: 40px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
}
.mobile-menu-content a.mobile-has-sub{
  background-image: url(../img/down-arrow-white.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 80% center;
}
.mobile-menu-content a.mobile-has-sub.active{
  border-bottom: 2px solid white;
}
.mobile-menu-content a:hover{
  color: white;
}
.header .header-icon img{
  margin-left: 30px;
  background-color: #19306F;
  background-image: url(../img/header-deco.svg);
  background-size: contain;
  background-position: left;
  padding-left: 10px;
  background-repeat: repeat;
}
.web-content{
  margin-top: 100px;
  padding: 80px 40px 50px 40px;
  min-height: calc( 100vh - 310px );
}
.footer{
  width: 100%;
  height: 110px;
  background-color: #19306F;
  overflow: hidden;
  color: white;
  font-size: 13px;
}
.footer .left-element{
  height: 110px;
  line-height: 83px;
  margin-left: 20px;
}
.footer .left-element a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
.footer .right-element{
  margin-right: 40px;
  margin-top: 18.5px;
  text-align: right;
}
.footer .right-element a{
  margin-right: 10px;
}
.footer .right-element img{
  height: 25px;
}
.page-selector{
  width: 100%;
  height: 90px;
  background-color: #6DA3BC;
  text-align: center;
  color: #4E4D4D;
}
.page-selector a{
  text-decoration: none;
  line-height: 20px;
  color: #4E4D4D;
  margin-left: 20px;
  margin-right: 20px;
}
.page-selector img{
  height: 15px;
  margin-top: 35px;
  transform: translate(0px,2px);
  cursor: pointer;
}
.path-navigator{
  padding-left: 30px;
  padding-bottom: 20px;
}
.path-navigator a{
  text-decoration: none;
  color: #4E4D4D;
  margin-left: 10px;
  margin-right: 15px;
}
.path-navigator a:last-of-type{
  color: #19306F;
  font-weight: 800;
}
.mobile-menu-content a.mobile-product-list-item{
  display: none;
}
.mobile-menu-content br.mobile-product-list-item{
  display: none;
}
.news-list-item{
  background-color: #19306F;
  width: calc( 100% - 40px );
  margin-left: -15px;
  position: absolute;
  margin-top: 130px;
  padding: 20px;
  display: none;
}

.news-list-item .content{
  display: inline-block;
  float: right;
}

.news-list-item a{
  margin-top: 10px;
  float: left;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  line-height: 18px;
  margin-right: 30px;
  font-size: 18px;
}

.news-list-item a:hover{
  color: rgba(255,255,255,1);
}

.mobile-menu-content a.mobile-news-list-item{
  display: none;
}
.mobile-menu-content br.mobile-news-list-item{
  display: none;
}
@media (max-width: 800px){
  .intro-panel{
    margin-right: 0px!important;
    margin-left: 0px!important;
    opacity: 1!important;
    float: none;
    width: calc( 100% - 30px );
    height: 200px;
    background-image: none;
    padding: 0px 15px 0px 15px;
  }
  .intro-panel h3{
    font-size: 30px;
    margin-bottom: 15px;
    padding-top: 15px;
    opacity: 1!important;
    line-height: initial!important;
  }
  .header .header-icon img{
    display: none;
  }
  .intro-panel img{
    display: none;
  }
  .intro-panel br{
    display: none;
  }
  .intro-panel p{
    font-size: 15px;
    line-height: 20px;
    opacity: 1!important;
  }
  .header-link a{
    display: none;
  }
  .mobile-menu-btn{
    display: block;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    height: 60px;
    width: 60px;
    margin-top: 20px;
  }
  .header{
    height: auto;
    min-height: 100px;
  }
  .header.active{
    background-color: rgba(19,49,111,0.8);
  }
}
